@model FooterViewModel

<div class="container-fluid footer">
	<div class="container">
		<div class="row section">
			<div class="col-12 text-center">
				@Model.FooterTitle
			</div>
		</div>
	</div>
</div>