@inherits UmbracoViewPage<GalleryPageViewModel>
@{
	Layout = "Master.cshtml";
}

<div class="container">
	<div class="row section">
		@foreach(var image in Model.Images)
		{
		<div class="col-md-3">
			<div class="teammember gallery">
				<img class="img-fluid" src="@image.MediaUrl()" />
			</div>
		</div>
		}
	</div>
</div>